NEXT_PUBLIC_GTM_ID=GTM-XXXXXXXX
NEXT_PUBLIC_BASE_URL=https://fajarnugraha37.github.io
PIPER_BASE_URL=http://127.0.0.1:5000
PIPER_VOICE=en_US-lessac-medium
# PIPER_SPEAKER=
# PIPER_LENGTH_SCALE=
# PIPER_NOISE_SCALE=
# PIPER_NOISE_W_SCALE=
