NEXT_PUBLIC_GTM_ID=GTM-XXXXXXXX
NEXT_PUBLIC_BASE_URL=https://fajarnugraha37.github.io
PIPER_BASE_URL=http://127.0.0.1:5000
PIPER_VOICE=id_ID-news_tts-medium
PIPER_MODEL_PATH=tools/piper/models/id_ID-news_tts-medium.onnx
PIPER_VOICE_DOWNLOAD_VERSION=main
# PIPER_PYTHON=python
# PIPER_SERVER_PORT=5000
# PIPER_SPEAKER=
# PIPER_MAX_CHARS_PER_CHUNK=280
# PIPER_LENGTH_SCALE=
# PIPER_NOISE_SCALE=
# PIPER_NOISE_W_SCALE=
